*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    
    margin-left: 25px;
    background: rgb(228, 230, 239);


}
#arrow-left{
    border: 5px solid white;
    background-color: white;
    border-radius: 15px;
    margin-top: 50px;
}
.contain h5{
    color: rgba(4, 27, 121, 1);
    text-align: center;
    margin-top: -25px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29.05px;
}
.contain h6{
    color: rgba(4, 27, 121, 1);
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    margin-top: 10px;
}
.image-5{
    margin-left: 90px;
    margin-top: 20px;
    height: 60%;
    width: 40%;
}


.input-box {
    border-radius: 40px;
    width: 21rem;
    height: 60px;
    padding-left: 20px;
    margin-top: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 110px;
}
input{
    border: 1px solid white;
}
#close{
    cursor: pointer;
}
p{
   font-size: 12px;
   font-weight: 100;
   line-height: 14.52px;
   text-align: stat;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;
   padding-left: 20px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.input-boxx{
    border-radius: 40px;
    width: 21rem;
    height: 60px;
    padding-left: 20px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 110px;
}
.erro{
    color: rgba(255, 4, 4, 1);
    /* font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: stat;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 20px; */

}
#error{
    color:rgba(255, 4, 4, 1);
    
}
.btn-reset{
    background-color: rgba(4, 30, 134, 1);
    color: white;
    width: 21rem;
    height: 50px;
    border-radius: 40px;
    margin-top: 10rem;
    border:rgba(0, 0, 0, 0.25);
    margin-bottom: 7rem;
}
@keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  /* Apply the animation when triggered */
  .slide-out-right {
    animation: slideOutRight 0.5s ease forwards;
  }
  